# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/generated/
android/**/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db


if cd flutter; then git pull && cd .. ; else git clone https://github.com/lawi55/flexee-academy.git; fi && ls && flutter/bin/flutter doctor && flutter/bin/flutter clean && flutter/bin/flutter config --enable-web